 <div class="panel panel-default">
 <div class="panel-heading"><h3 class="panel-title">Hello Welcome</h3></div>
 <div class="panel-body">
    <h2>Demo test camera Html5 with angular</h2><br>
    Use lineman ,lineman-angular ,grunt<br>
    menu camera just take a photo <br>
    menu barcode scan barcode from camera <br>
    with worker Barcode_Reader V1.0 by Eddie Larsson -  https://github.com/EddieLa/BarcodeReader<br>
    Barcodereader for Code128, Code93, Code39 and EAN-13 barcodes <br>
   
   </div>
  
 </div>
 </div>